@page
@model EditModel

<div class="container">
    <main role="main" class="pb-3">
        <h2 style="padding-top:25px">Edit User</h2>
        <hr />
        <div class="col-12 d-flex justify-content-center">
            <div class="card shadow border-0 my-2 col-8">
                <div class="card-body p-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12">
                            <div class="border p-3">
                                <label asp-for="User.Username" class="control-label"></label>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="User.Username" class="form-control" style="padding-top:0; padding-bottom:0;" />
                                    <span asp-validation-for="User.Username" class="text-danger"></span>
                                </div>

                                <label asp-for="User.Password" class="control-label"></label>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="User.Password" class="form-control" style="padding-top:0; padding-bottom:0;" />
                                    <span asp-validation-for="User.Password" class="text-danger"></span>
                                </div>

                                <label asp-for="User.FirstName" class="control-label"></label>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="User.FirstName" class="form-control" style="padding-top:0; padding-bottom:0;" />
                                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                </div>

                                <label asp-for="User.LastName" class="control-label"></label>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="User.LastName" class="form-control" style="padding-top:0; padding-bottom:0;" />
                                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                                </div>

                                <label asp-for="User.AvatarUrl" class="control-label"></label>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="User.AvatarUrl" class="form-control" style="padding-top:0; padding-bottom:0;" />
                                    <span asp-validation-for="User.AvatarUrl" class="text-danger"></span>
                                </div>

                                <label asp-for="User.Email" class="control-label"></label>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="User.Email" class="form-control" style="padding-top:0; padding-bottom:0;" />
                                    <span asp-validation-for="User.Email" class="text-danger"></span>
                                </div>

                                <label asp-for="User.Balance" class="control-label"></label>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="User.Balance" class="form-control" style="padding-top:0; padding-bottom:0;" />
                                    <span asp-validation-for="User.Balance" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="User.Id" />
                                <div class="row pt-2">
                                    <div class="col-6 col-md-2">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <a asp-page="./Index" class="btn btn-outline-primary border form-control">
                                            Back to List
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
