body {
}

.status-badge {
    padding: 0.375em 0.75em;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.status-processing {
    background-color: #ffc107;
}
/* Màu vàng */
.status-user-accepted {
    background-color: #007bff;
}
/* Màu xanh dương */
.status-artist-accepted {
    background-color: #17a2b8;
}
/* Màu xanh da trời */
.status-accepted {
    background-color: #28a745;
}
/* Màu xanh lá */
.status-rejected {
    background-color: #dc3545;
}
/* Màu đỏ */
.status-cancelled {
    background-color: #6c757d;
}
/* Màu xám */
.status-uploaded {
    background-color: #343a40;
}
/* Màu đen */
.status-success {
    background-color: #28a745;
}
/* Màu xanh lá, tương tự accepted */
/* Custom styles */
.card {
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: translateY(-5px);
    }

.submit-btn {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

    .submit-btn:hover {
        background-color: #0056b3;
        color: #fff;
    }
