@page
@model ImageSharingPlatform.Pages.OwnedSub.EditModel

<h4>OwnedSubscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnedSubscription.PurchasedTime" class="control-label"></label>
                <input asp-for="OwnedSubscription.PurchasedTime" class="form-control" />
                <span asp-validation-for="OwnedSubscription.PurchasedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnedSubscription.SubscriptionPackageId" class="control-label"></label>
                <select asp-for="OwnedSubscription.SubscriptionPackageId" class="form-control" asp-items="ViewBag.SubscriptionPackageId"></select>
                <span asp-validation-for="OwnedSubscription.SubscriptionPackageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnedSubscription.UserId" class="control-label"></label>
                <select asp-for="OwnedSubscription.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="OwnedSubscription.UserId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="OwnedSubscription.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
