@page
@model ImageSharingPlatform.Pages.OwnedSub.IndexModel

<div class="container">
	<p>
		<h2>My Owned Subscriptions</h2>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					To artist
				</th>
				<th>
					Purchased time
				</th>
				<th>
					View
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.OwnedSubscription)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.SubscriptionPackage.Artist.Username)

					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PurchasedTime)
					</td>
					<td>
						<a class="btn btn-primary" asp-page="/ArtistProfile/Index" asp-route-id="@item.SubscriptionPackage.Artist.Id">View artist profile</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
