@page
@model EditModel

<h4>Edit Image Request</h4>
<hr />

<div class="row">
   
        <form method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageRequests.RequestStatus" class="control-label">Status Of Request</label>
                <select asp-for="ImageRequests.RequestStatus" asp-items="ViewBag.RequestStatus" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageRequests.Title" class="control-label"></label>
                <input asp-for="ImageRequests.Title" class="form-control" />
                <span asp-validation-for="ImageRequests.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageRequests.Description" class="control-label"></label>
                <input asp-for="ImageRequests.Description" class="form-control" />
                <span asp-validation-for="ImageRequests.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageRequests.Price" class="control-label"></label>
                <input asp-for="ImageRequests.Price" class="form-control" />
                <span asp-validation-for="ImageRequests.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageRequests.CreateTime" class="control-label"></label>
                <input asp-for="ImageRequests.CreateTime" class="form-control" />
                <span asp-validation-for="ImageRequests.CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="ImageUpload">Image Upload</label>
                    <br />
                    <input asp-for="ImageUpload" type="file" id="ImageUpload" name="ImageUpload" />
            </div>
            <div class="form-group">
                <label asp-for="ImageRequests.RequesterUserId" class="control-label"></label>
                <select asp-for="ImageRequests.RequesterUserId" class="form-control" asp-items="ViewBag.RequesterUserId"></select>
                <span asp-validation-for="ImageRequests.RequesterUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageRequests.ArtistId" class="control-label"></label>
                <select asp-for="ImageRequests.ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="ImageRequests.ArtistId" class="text-danger"></span>
            </div>
                <input type="hidden" asp-for="ImageRequestCopy.RequestStatus" />
                <input type="hidden" asp-for="ImageRequests.ImageBlob" />
                <input type="hidden" asp-for="ImageRequests.Id" />
        </div>
        <div class="col-md-6">
            <h4>Request Detail</h4>
            <div class="form-group">
                <label asp-for="RequestDetail.Title" class="control-label">Title</label>
                <input asp-for="RequestDetail.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RequestDetail.Comment" class="control-label">Comment</label>
                <textarea asp-for="RequestDetail.Comment" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="RequestDetail.NewPrice" class="control-label">New Price</label>
                <input asp-for="RequestDetail.NewPrice" class="form-control" type="number" step="0.01" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Assuming you want these buttons to be centered -->
                <input type="submit" value="Save" class="btn btn-dark" />
                <a asp-page="/ViewImageRequestDetails/ViewRequestDetail" asp-route-id="@Model.ImageRequests.Id" class="btn btn-danger">View Image Request</a>
                <a asp-page="./Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
